.hero-image {
  margin-top: 24px;
  height: 350px;
  overflow: hidden;
  background-color: var(--color-white);
  background-size: cover;
  background-position: right;
  border-width: 1px 0;
  .container {
    display: flex;
    align-items: center;
    height: 100%;

    h1 {
      margin-bottom: 16px;
    }
  }
}
