.hero-image {
  margin-top: 24px;
  height: 350px;
  overflow: hidden;
  background-color: var(--color-white);
  background-size: cover;
  background-position: right;
  border-width: 1px 0;
  transition: all 0.2s ease-in-out;
  .container {
    display: flex;
    align-items: center;
    height: 100%;
  }
}

@media screen and (max-width: 1200px) {
  .hero-image {
    height: 280px;
  }
}

@media screen and (max-width: 800px) {
  .hero-image {
    height: 230px;
  }
}

@media screen and (max-width: 600px) {
  .hero-image {
    height: 150px;
  }
}
