<app-hero-image pageTitle="Shop"></app-hero-image>

<div class="container-fluid px-10">
  <div class="container my-10">
    <div class="product-container display-flex">
      <div class="product-image">
        <img
          src="/assets/images/products/shop-img({{ product.id }}).jpg"
          alt="product-image-3"
        />
      </div>
      <div class="product-details ml-5 display-flex">
        <h3>{{ product.name }}</h3>
        <div class="price">{{ product.price }}NOK</div>
        <div class="rating">{{ product.rating }} (1 customer review)</div>
        <p class="varieties">
          {{ product.description }}
        </p>
        <div class="display-flex quantity-cart-container">
          <div class="quantity-container">
            <i class="ph ph-minus"></i>
            <span class="quantity ml-3">20</span>
            <i class="ph ph-plus"></i>
          </div>
          <div class="add-to-cart-container">
            <button class="btn btn-secondary mt-2">Add to Cart</button>
          </div>
        </div>
        <div class="categories">
          Categories:
          <span class="categories-text">{{ product.product_category }}</span>
        </div>
      </div>
    </div>
    <div class="product-description my-10">
      <h5>description</h5>
      <div>
        <p>{{ product.description }}</p>
        <p>{{ product.weight }}</p>
        <p>{{ product.dimensions }}</p>
      </div>
    </div>

    <div class="related-products">
      <h4>Related products</h4>
      <div class="product-list display-grid text-center mb-10">
        @for (item of [1,2,3,4]; let i = $index; track item) {
        <div class="product-card">
          <div class="image-container">
            <img
              src="/assets/images/products/shop-img({{ i + 1 }}).jpg"
              alt="Cupcake {{ i + 1 }}"
            />
            <div class="add-to-cart-container">
              <a href=""><i class="ph ph-basket"></i> Add to cart</a>
            </div>
          </div>
          <div class="product-info mt-2">
            <a
              routerLink="/products/details/{{ i + 1 }}"
              routerLinkActive="active"
            >
              <h5>Strawberry Cupcake</h5>
              <p class="varieties">
                Delicious strawberry, cupcake with a hint of vanilla
              </p>
              <div class="price">$2.50</div>
            </a>
            <!-- <button class="btn btn-secondary mt-2">Add to Cart</button> -->
          </div>
        </div>
        }
      </div>
    </div>
  </div>
</div>
