.product-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
  gap: 36px;
  .product-image {
    img {
      width: 100%;
      min-width: 450px;
    }
  }
  .product-details {
    flex-direction: column;
    gap: 25px;

    .price {
      font-size: 2rem;
    }
    .quantity-cart-container {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(215px, 1fr));

      .quantity-container {
        position: relative;
        width: 105px;
        height: 60px;
        border: 1px solid var(--color-gold);
        .ph {
          position: absolute;
          right: 0;
          top: 0;
          width: 30px;
          height: 30px;
          border: 1px solid var(--color-gold);
          cursor: pointer;
          padding: 4px;
        }
        .ph-minus {
          top: 30px;
          border-top: 0;
          border-right: 0;
          border-bottom: 0;
        }
        .ph-plus {
          border-top: 0;
          border-right: 0;
        }
        .ph:hover {
          color: var(--color-gold);
        }
        .quantity {
          font-size: 2rem;
        }
      }
      .add-to-cart-container {
        button {
          background-color: var(--color-gold);
          color: var(--color-white);
        }
        button:hover {
          background-color: var(--color-white);
          color: var(--color-gold);
        }
      }
    }
    .categories-text {
      color: var(--color-gray);
    }
  }
}

.product-description {
  .tab-content {
    display: none;
  }
  input {
    display: none;
  }
  label {
    display: inline-block;
    padding: 15px 25px 15px 0px;
    text-transform: uppercase;
    border-bottom: 1px solid var(--color-gray);
    transition: all 0.3s ease-out 0.1s;
  }
  label:hover {
    color: var(--color-gold);
    cursor: pointer;
  }
  input:checked + label {
    color: var(--color-primary);
    border-bottom: 1px solid var(--color-gold);
  }

  .tab:nth-of-type(1):checked
    ~ .tab-content-container
    .tab-content:nth-of-type(1),
  .tab:nth-of-type(2):checked
    ~ .tab-content-container
    .tab-content:nth-of-type(2),
  .tab:nth-of-type(3):checked
    ~ .tab-content-container
    .tab-content:nth-of-type(3) {
    display: block;
  }
}

.product-list {
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));

  grid-gap: 24px;
  justify-content: center;
  .product-card {
    .image-container {
      position: relative;
      overflow: hidden;
      img {
        width: 100%;
        transform: scale(1.06);
        transition: transform 0.8s ease-out;
      }
      .add-to-cart-container {
        opacity: 0;
        display: flex;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 10;
        justify-content: center;
        align-items: center;
        transition: opacity 0.4s ease-out;
        background-color: rgba(255, 255, 255, 0.8);
        a {
          color: var(--color-gold);
          text-decoration: none;
          text-transform: uppercase;
          letter-spacing: 2.5px;
          font-family: var(--font-block);
          font-weight: 600;
          font-size: 1rem;
        }
      }
      &:hover {
        img {
          transform: scale(1);
        }
        .add-to-cart-container {
          opacity: 1;
        }
      }
    }
    .product-info {
      a {
        text-decoration: none;
        color: var(--color-primary);
      }
      a:hover {
        color: var(--color-gold);
      }
    }
  }
}
