<app-hero-image pageTitle="Shop"></app-hero-image>
<div class="container-fluid">
  <div class="product-container">
    <div class="product-image">
      <img
        src="/assets/images/products/shop-img(3).jpg"
        alt="product-image-3"
      />
    </div>
    <div class="product-details">
      <h2>Strawberry Cupcake</h2>
      <div class="price">$100</div>
      <div class="rating">***** (1 customer review)</div>
      <p class="varieties">
        Delicious strawberry, cupcake with a hint of vanilla
      </p>
      <div class="quantity">
        <i class="ph ph-minus"></i><span class="quantity mx-2">20</span
        ><i class="ph ph-plus"></i>
      </div>
      <div class="add-to-cart-container">
        <button class="btn btn-secondary mt-2">Add to Cart</button>
      </div>
      <div class="categories">Categories: Cupcakes, Raw Cakes, Truffles</div>
    </div>
  </div>
  <div class="product-description">
    <h3>description</h3>
    <div>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Scelerisque viverra
      mauris in aliquam. Ullamcorper malesuada proin libero nunc consequat.
      Sagittis aliquam malesuada bibendum arcu vitae elementum curabitur vitae.
      Massa enim nec dui nunc mattis enim ut tellus elementum. Suscipit tellus
      mauris a diam maecenas nisi vitae.
    </div>
  </div>
  <div class="related-products">
    <h2>Related products</h2>
    <div class="related-images">
        <img src="/assets/images/products/shop-img(1).jpg" alt="" >
        <img src="/assets/images/products/shop-img(2).jpg" alt="" >
        <img src="/assets/images/products/shop-img(3).jpg" alt="" >
        <img src="/assets/images/products/shop-img(4).jpg" alt="" >
    </div>
  </div>
</div>
