<header>
  <div class="logo">Crave-cakes</div>
  <nav class="container-fluid">
    <a routerLink="/home" routerLinkActive="active">Home</a>
    <a routerLink="/products/list" routerLinkActive="active">Products</a>
    <a routerLink="/about" routerLinkActive="active">About</a>
    <a routerLink="/contact-us" routerLinkActive="active">Contact us</a>
  </nav>
  <div class="cart-container">
    <a routerLink="/cart" routerLinkActive="active">
      <span class="cart-count">6</span>
      <i class="cart-icon ph ph-basket"></i>
    </a>
  </div>
  <span id="back-to-top"></span>
</header>
