header {
  .logo {
    color: var(--color-gold);
    font-family: var(--font-cursive);
    text-align: center;
    font-size: 4rem;
    margin: 48px 0 0;
  }
  nav.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    ul {
      list-style: none;
      display: flex;
      gap: 24px;
    }
    a {
      font-family: var(--font-block);
      color: var(--color-text);
      text-decoration: none;
      font-size: 1rem;
      text-transform: uppercase;
      letter-spacing: 2.5px;
      position: relative;
      cursor: pointer;
      &::after {
        content: "";
        position: absolute;
        display: block;
        width: 20px;
        height: 1px;
        background: var(--color-text);
        left: 50%;
        margin-left: -10px;
        display: none;
      }
      &.active,
      &:hover {
        color: var(--color-gold);
        &::after {
          display: block;
          background: var(--color-gold);
        }
      }
    }
    a.cart {
      text-decoration: none;
      color: var(--color-gold);
      cursor: pointer;
      .cart-icon {
        position: relative;
        font-size: 2rem;
      }
      .cart-count {
        position: relative;
        font-size: 1rem;
        top: -21px;
        left: 40px;
      }
      &::after {
        display: none;
      }
    }
  }

  .hamburger-menu {
    display: none;
    color: var(--color-gold);
    font-size: 2rem;
  }

  @media (max-width: 600px) {
    .hamburger-menu {
      display: block;
    }
    .logo {
      font-size: 3rem;
    }
    nav.menu {
      position: relative;
      justify-content: space-between;
      padding: 0 24px;
      ul {
        display: none;
      }
      ul.dropdown-menu {
        display: block;
        position: absolute;
        top: 45px;
        background: var(--color-white);
        border: 1px solid var(--color-gold);
        padding: 24px;
        z-index: 10;
        li {
          padding: 8px 0;
        }
      }
      a {
        display: block;
        &::after {
          display: none !important;
          content: none;
        }
      }
    }
  }
}
