<app-hero-image pageTitle="About Us" imageName="cake-bg-3.jpg"></app-hero-image>

<div class="container-fluid">
  <div class="container about-box-container mt-10 mb-5">
    <div class="text-center">
      <img
        src="assets/images/about/p1-img-4.png"
        alt="truffle choco"
        srcset=""
      />
      <h5 class="my-2">truffle choco</h5>
      <p>Lorem ipsum dolor sit amet, tale porro dignissim id per ocurreret.</p>
    </div>
    <div class="text-center">
      <img
        src="assets/images/about/p1-img-3.png"
        alt="truffle choco"
        srcset=""
      />
      <h5 class="my-2">truffle choco</h5>
      <p>Lorem ipsum dolor sit amet, tale porro dignissim id per ocurreret.</p>
    </div>
    <div class="text-center">
      <img
        src="assets/images/about/p1-img-2.png"
        alt="truffle choco"
        srcset=""
      />
      <h5 class="my-2">truffle choco</h5>
      <p>Lorem ipsum dolor sit amet, tale porro dignissim id per ocurreret.</p>
    </div>
    <div class="text-center">
      <img
        src="assets/images/about/p1-img-1.png"
        alt="truffle choco"
        srcset=""
      />
      <h5 class="my-2">truffle choco</h5>
      <p>Lorem ipsum dolor sit amet, tale porro dignissim id per ocurreret.</p>
    </div>
  </div>

</div>
<div class="my-story-container">
  <div class="my-story">
    <div class="my-story-text">
      <h3 class="mt-10">my story</h3>
      <div class="separator left my-3"></div>
      <p class="mb-2">
        Welcome to Crave-cakes, where every cake tells a story! What started as
        a small passion for baking in a cozy kitchen has grown into a journey of
        spreading joy, one sweet bite at a time. We believe in the magic of
        desserts—their ability to make ordinary moments extraordinary and
        celebrations unforgettable.
      </p>
      <p class="mb-10">
        For us, baking is more than just a craft; it's a way to bring people
        together, celebrate love, and create memories. Every cake we make is a
        labor of love, infused with the finest ingredients and a sprinkle of
        creativity.
      </p>
    </div>
    <div class="my-story-img">
      <img src="assets/images/about/about.jpg" alt="about" />
    </div>
  </div>
</div>
<div class="container mb-10">
  <div class="sub-heading text-center">Let's Celebrate Together</div>
  <h2 class="text-center">cake my day</h2>
  <div class="separator my-3"></div>
  <p class="text-center mt-3 mb-6">
    Whether it's a birthday, wedding, anniversary, or a “just because” moment,
    we're here to make it extra special. Explore our collection or contact us to
    create something uniquely yours. At Crave-cakes, every cake is a celebration
    of life's sweetest moments.
  </p>
</div>
