<div class="block-wrapper">
    <div class="block">
      <img src="assets/images/home/block-img(1).jpg" alt="" />
    </div>
    <div class="block text-block text-center padded">
      <h3>Our Story</h3>
      <div class="separator my-4"></div>
      <p>
        Conse ctetur adipiscing elit pellente sque, habitant morbi cras ornare
        arcu dui viva.
      </p>
      <a href="" class="link">Discover</a>
    </div>
    <div class="block">
      <img src="assets/images/home/block-img(2).jpg" alt="" />
    </div>

    <div class="block text-block text-center">
      <h3>Contact</h3>
      <div class="separator my-4"></div>
      <p><a href="http://">Heinrichstrasse 267c / 3. Stock 8005 Zürich</a></p>
      <p>
        E-mail:
        <a href="mailto:dolcino@qodeinteractive.com"
          >dolcino&#64;qodeinteractive.com</a
        >
      </p>
      <p>Phone: <a href="tel:+88(0) 101 0000 000">+88(0) 101 0000 000</a></p>
      <a href="" class="link">View Map</a>
    </div>

    <div class="block">
      <img src="assets/images/home/block-img(3).jpg" alt="" />
    </div>

    <div class="block text-block text-center">
      <div class="sub-heading">
        Find out more <br />
        about special <br />
        offers
      </div>
      <a href="" class="link">Read More</a>
    </div>
  </div>
