<app-hero-image pageTitle="Contact us" imageName="cake-bg-1.jpg"></app-hero-image>

<div class="container pb-10">
  <div class="sub-heading mt-10 text-center">we'd love to hear from you!</div>
  <h2 class="text-center">we are social</h2>
  <div class="separator my-3"></div>
  <p class="text-center limited-width mt-3 mb-6">
    Whether you have a question, need assistance with an order, or want to share
    your feedback, our team is here to help. Get in touch with us through the
    options below!
  </p>

  <form>
    <div class="two-column limited-width">
      <div>
        <input
          aria-label="First Name"
          class="form-control"
          placeholder="First Name"
          type="text"
          id="firstName"
          name="firstName"
        />
      </div>
      <div>
        <input
          aria-label="Last Name"
          class="form-control"
          placeholder="Last Name"
          type="text"
          id="lastName"
          name="lastName"
        />
      </div>
      <div>
        <input
          aria-label="Email"
          class="form-control"
          placeholder="Email"
          type="text"
          id="email"
          name="email"
        />
      </div>
      <div>
        <input
          aria-label="Web site"
          class="form-control"
          placeholder="Web site"
          type="text"
          id="website"
          name="website"
        />
      </div>
    </div>
    <div class="limited-width">
      <textarea
        aria-label="Message"
        class="mt-3 form-control"
        placeholder="Message"
        id="message"
        name="message"
      ></textarea>
    </div>
    <div class="text-center">
      <button class="btn btn-secondary mt-3">submit</button>
    </div>
  </form>
</div>
