<app-hero-image pageTitle="cart" imageName="cake-bg-4.png"></app-hero-image>
<div class="container-fluid">
  <div class="container cart-container mt-10 mb-5">
    <table>
      <thead>
        <tr>
          <th class="text-left"></th>
          <th class="text-left"></th>
          <th class="text-left">Product</th>
          <th class="text-left">Price</th>
          <th class="text-left">Quantity</th>
          <th class="text-left">subtotal</th>
        </tr>
      </thead>
      <tbody>
        @for(item of cartItems; let i = $index; track item.id) {
        <tr class="py-3">
          <td><i class="ph ph-x"></i></td>
          <td>
            <img
              src="assets/images/products/shop-img({{ item.product_id }}).jpg"
              alt="item1"
            />
          </td>
          <td>{{ item.product_name }}</td>
          <td>{{ item.product_price }} nok</td>
          <td class="quantity-container">
            <i class="ph ph-minus"></i
            ><span class="quantity mx-2">{{ item.quantity }}</span
            ><i class="ph ph-plus"></i>
          </td>
          <td>{{ item.product_price * item.quantity }} nok</td>
        </tr>
        }
      </tbody>
    </table>

    <div class="cart-button-container display-flex">
      <input type="text" class="coupon mt-2" placeholder="Coupon code" />
      <button class="btn btn-gold mt-2">Apply coupon</button>
      <button class="btn btn-gold mt-2">update cart</button>
    </div>

    <div class="cart-total-container mt-10">
      <h3>cart total</h3>
      <table>
        <tbody>
          <tr>
            <td style="width: 30%">Subtotal</td>
            <td style="width: 70%">$50.00</td>
          </tr>
          <tr>
            <td>Total</td>
            <td>$55.00</td>
          </tr>
        </tbody>
      </table>
      <button class="btn btn-gold mt-2">Proceed to checkout</button>
    </div>
  </div>
</div>
