<div class="footer-container">
  <div class="footer-container-inner">
    <div class="contact-details py-4">
      <h5 class="py-4">Contact</h5>
      <p>Heinrichstrasse 267c / 3. Stock 8005 Zürich</p>
      <p>E-mail: xxxxxxxxxx</p>
      <p>Phone: +88(0) 101 0000 000</p>
    </div>
    <div class="footer-middle-column">
      <div class="sub-heading text-center">eat what you love</div>
      <h4>Crave cakes</h4>
      <div class="separator m-4"></div>
      <div class="footer-text">
        1926. - Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Accusamus, nostrum? Lorem Ipsum avai lable, but the majority suffered
        alter.
      </div>
      <div class="social-media mt-5">
        <i class="ph ph-facebook-logo"></i>
        <i class="ph ph-youtube-logo"></i>
        <i class="ph ph-instagram-logo"></i>
      </div>
    </div>
    <div class="footer-map pt-6">
      <img src="assets/images/footer/footer-img.png" alt="map" />
    </div>
  </div>
  <div class="copyright-section text-center py-3">
    <p>© 2025 Crave-cakes, All Rights Reserved</p>


  </div>
</div>
