<div class="container pb-10">
    <div class="text-center pb-8">
      <div class="sub-heading">you said about us</div>
      <h2>Testimonials</h2>
      <div class="separator mt-4"></div>
    </div>
    <div class="text-center">
      <div class="mb-4 px-10">
        Vero scriptorem eu pri, eos offendit perfecto nominati eu. Graece
        veritus ut vim, eu elit magna verear per. Convenire mnesarchum
        scribentur an per, id per timeam mentitum rationibus, an fuisset
        philosophia velvix.
      </div>
      <h5>Joann King</h5>
      <p class="role">Food critic</p>
    </div>
  </div>