<div class="container">
    <div class="text-center pb-8">
      <div class="sub-heading">please, do this</div>
      <h2>Cake my day</h2>
      <div class="separator mt-4"></div>
    </div>
    <div class="two-column">
      <div>
        <span class="drop-cap">C</span>hocolate adipiscing elit duis tristique
        sollicitudin nibh sit amet commodo. Fermentum iaculis eu non diam
        phasellus vestibulum. Nibh nisl condimentum id venenatis. Tempor id eu
        nisl nunc mi. Diam vel quam elementum pulvinar etiam non quam lacus.
        Convallis posuere morbi leo urna molestie at elementum eu odio.
      </div>
      <div>
        Tempor id eu nisl nunc mi. Diam vel quam elementum pulvinar etiam non
        quam lacus. Convallis posuere morbi leo urna molestie at elementum eu.
        Odio facilisis mauris sit amet. Massa sapien faucibus et molestie ac. Ac
        odio tempor orci dapibus ultrices in iaculis. Aliquam vestibulum morbi
        blandit cursus risus at ultrices mi tempus quam.
      </div>
    </div>
  </div>